#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 18px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #6675d5;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: #1409ee;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #1e1be2;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}


/*headings*/

.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #000000;
    background: rgb(252, 252, 252);
    border-radius: 25px;
    margin: 0 auto 10px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #1e1be2;
    color: white;
}

#progressbar li.inactive:before {
    background: rgb(140, 165, 233);
    color: #f2ecec;
}

fieldset {
    /* for chrome and safari*/
    -webkit-animation-duration: .25ms;
    -webkit-animation-name: slidein;
    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;
    /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;
    /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
}

@-webkit-keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
    }
    to {
        margin-right: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/* iput css */

body {
    font-family: "Inter", sans-serif;
}

.formbold-mb-3 {
    margin-bottom: 15px;
}

.formbold-mb-5 {
    margin-bottom: 20px;
}

.formbold-pt-3 {
    padding-top: 12px;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
    padding: 48px;
    border-top: 7px solid #1e1be2;
}

.formbold-form-wrapper h2 {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: center;
}

.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}

.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

.formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #1e1be2;
    color: white;
    cursor: pointer;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}

.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}

.formbold-error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.formbold-form-label {
    text-align: left;
}


/* edit */

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
    background: white;
    padding: 48px;
    border-top: 5px solid #919be0;
}

thead {
    background-color: #aecefa;
}

.btn.btn-icon {
    background: none;
    border: none;
    padding: 0;
}

.test {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.test button {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #57a8fa;
    color: white;
    cursor: pointer;
}