<!-- Main -->

<main class="main-container custom-main-container">
    <div class="custom-main-title">
        <p class="font-weight-bold">DASHBOARD</p>
    </div>

    <div class="custom-main-cards">

        <div class="custom-card">
            <div class="custom-card-inner">
                <p class="text-primary">Utilisateur</p>
                <span class="fa fa-users"></span>
            </div>
            <span class="text-primary font-weight-bold">5</span>
        </div>

        <div class="custom-card">
            <div class="custom-card-inner">
                <p class="text-primary">CED</p>
                <span class="fa fa-file-text"></span>
            </div>
            <span class="text-primary font-weight-bold">4</span>
        </div>

        <div class="custom-card">
            <div class="custom-card-inner">
                <p class="text-primary">Structure de recherche </p>
                <span class="fa fa-file-text"></span>
            </div>
            <span class="text-primary font-weight-bold">12</span>
        </div>

        <div class="custom-card">
            <div class="custom-card-inner">
                <p class="text-primary">Cadre de mobilite</p>
                <span class="fa fa-file-text"></span>
            </div>
            <span class="text-primary font-weight-bold">4</span>
        </div>

    </div>

    <div class="custom-charts">

        <div class="custom-charts-card">
            <p class="custom-chart-title">nombre de projet par structure de recherche </p>
            <div id="bar-chart"></div>
        </div>

        <div class="custom-charts-card">
            <p class="custom-chart-title">Mobilite des doctorant et des enseignant </p>
            <div id="area-chart"></div>
        </div>

    </div>
</main>
<!-- End Main -->