<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <h2>Modifier un CED</h2>
        <form [formGroup]="cdeform" (ngSubmit)="onUpdate()">
            <!-- Intitule field -->

            <div class="formbold-mb-5">
                <label for="intitule" class="formbold-form-label">Intitulé</label>
                <input [value]="object.intitule" formControlName="intitule" type="text" name="intitule" id="intitule" placeholder="Enter Intitulé" class="formbold-form-input" />
                <div *ngIf="cdeform.controls['intitule'].invalid && (cdeform.controls['intitule'].dirty || cdeform.controls['intitule'].touched)">
                    <small class="text-danger">L'Intitulé de CDE est requis.</small>
                </div>
            </div>

            <!-- Description field -->
            <div class="formbold-mb-5">
                <label for="description" class="formbold-form-label">Description</label>
                <textarea formControlName="description" rows="6" name="description" id="description" placeholder="Enter description" class="formbold-form-input"></textarea>
                <div *ngIf="cdeform.controls['description'].invalid && (cdeform.controls['description'].dirty || cdeform.controls['description'].touched)">
                    <small class="text-danger">La description de CDE est requise.</small>
                </div>
            </div>

            <div>
                <button class="formbold-btn">Modifier</button>
            </div>
        </form>

    </div>
</div>